body {
  margin: 0 auto;
  background: linear-gradient(0deg, #FFFFFF, #5595D9) no-repeat;
  }

  .pageWrapper {
    display: block;
    text-align: center;
    background: url("/assets/imgs/sf_skyline.jpg");
  }

.mainNav {
  text-align: right;
  padding: 20px;
  background-color: white;
  margin: 0;
}

#navList li{
  display: inline;
  padding: 20px;
  text-align: center;
  margin: 10px;
  background-color: white;

}
