body {
  margin: 0 auto;
  background: linear-gradient(0deg, #010301, #5595D9) no-repeat;
  }

  .page-wrapper {
    display: block;
    text-align: center;
  }

ul {
  text-align: right;
  padding: 20px;
  background-color: white;
  margin: 0;
}

#nav-list li{
  display: inline;
  padding: 20px;
  text-align: center;
  margin: 10px;
  background-color: white;

}
